.table-container {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 17px;
}

td,
th {
  padding: 5px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  height: 40px;
}
th {
  background-color: rgb(51, 62, 82);
  color: white;
}
tr:hover {
  background-color: rgb(221, 141, 178);
}
