.header-container {
  display: flex;
  background-color: rgb(26 32 44);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: space-between;
}

.header-logo-image {
  width: 90px;
  height: 80px;
  margin-left: 2%;
}
h4 {
  font-size: 15px;
  color: white;
}
.nav {
  margin-right: 30px;
}
a {
  text-decoration: none;
  color: white;
}
.header-logo {
  display: flex;
  flex-flow: row;
  /* background-color: rgb(26 32 44);
  position: fixed;
  top: 0;
  left: 0;
  right: 0; */
  align-items: center;
}
